/* Resteo de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Color de fondo del body */
body {
  background-color: #2B3035;  
}
/* Menu principal */
main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  padding-top: 30px;
  padding-bottom: 50px;
}
main h1 {
  color: #27AE60;
}
main .div-texto {
  height: auto;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
main .div-generico {
  text-align: center; 
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
main .div-generico .boton {
  padding: 0.5rem;
  border-radius: 50px;
  background-color: #27AE60;
  width: 40%;
  text-align: center;
  margin: 0 auto;
}
.boton:hover {
  color: black ; /* para que se ponga negro el boton */
}
main .div-generico img {
  max-width: 100%;  /* ocupo el 100% del contenedor */
  height: auto;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.7); /* Sombra blanca */

}

/* Responsivo para pantallas medianas */
@media screen and (min-width: 600px) {
  main {
    grid-template-columns: repeat(3, 1fr); /* paso a pantalla de 3 columnas del mismo tamaño */
    grid-template-rows: 1fr; 
  }
  main .div-texto {
    grid-column-start: 1; /* la primera fila la mantengo de 4 columnas de ancho */
    grid-column-end: 4;    
  }
  main .div-generico {
    padding: 1.5rem;
  }
  main .div-generico .boton {
    width: 40%; /*cambio el tamaño del boton */
  }
}

/* Responsivo para pantallas grandes */
@media screen and (min-width: 1024px) {
  main {
    grid-template-columns: repeat(3, 1fr); /* paso a pantalla de 3 columnas del mismo tamaño */
    grid-template-rows: 1fr;
    padding: 2rem 6rem;
  }
  main .div-texto {
    grid-column-start: 1; /* la primera fila la mantengo de 4 columnas de ancho */
    grid-column-end: 4;    
  }
  main .div-generico {
    gap: 2rem;
    padding: 2rem;
  }
  main .div-generico .boton {
    width: 35%;
  }
  main .div-generico img {
    width: 70%;
  }
  main .div-generico h2 {
    font-size: 1.4rem;
  } 
}

section {
  background-color: #E5E5E5;
}

/* personalizacion de los banners */
section .banner {
  background-color: black;
}
section .banner img {
  width: 100%;
}

/* personalizacion del banner de noticias */
section .noticia {  
  background-color: #27AE60;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;
}

/* personalizacion del banner de marcas */
section div {
  padding: 5px;
  display: flex;
  justify-content: center;
}
section div img {
  align-items: center;
  width: 50%;
}

/* personalizacion de footer */
footer {
  background-color: #2B3035;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
}
footer .container {
  width: 100%;
}
footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}
footer .footer-links {
  text-align: center;
  width: 25%;
  padding: 15px;
}
footer .footer-links h4 {
  font-size: 20px;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
  border-bottom: 2px solid #27AE60;
  padding-bottom: 15px;
}
footer .footer-links ul {
  padding: 0;
  list-style: none;
}
footer .footer-links ul li {
  margin-bottom: 10px;
}
footer .footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  display: block;
  margin-bottom: 15px;
}

/*   HTML nosotros   */
main .persona {
  display: flex;
  text-align: center;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 50px;
  padding-bottom: 50px;
}
main .persona img {
  width: 100%;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.7); /* Sombra blanca */

}

/*    HTML tienda    */
.tienda {
  padding: 100px;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.tienda .img {
  background-color: #2B3035;
  text-align: center;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.tienda .img img {
  width: 80%;
}

/*    HTML contacto        */
.contacto {
  display: flex;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
}
.contacto div h1 {
  color: #27AE60;
  font-family: 'Roboto', sans-serif;
}

/*       HTML servicio tecnico        */
.servicio {
  display: flex;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 150px;
}
.servicio div h1{
  color: #27AE60; 
}

/*# sourceMappingURL=main.css.map */
