// Variables
$bg-color-dark: #2B3035;
$bg-color-light: #E5E5E5;
$bg-color-accent: #27AE60;
$text-color-light: whitesmoke;
$rem-1: 1rem;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// nesting

body {
  background-color: $bg-color-dark; // color de fondo de todo el body
}

// Estilos de main versión mobile (estructura general con GRID y luego internamente con FLEX)
main {
  display: grid;
  grid-template-columns: 1fr; // tengo una sola columna
  grid-template-rows: repeat(3, 1fr); // una columna, con tres filas
  row-gap: $rem-1;
  padding-top: 30px;
  padding-bottom: 50px;

  .div-generico {
    background-color: $bg-color-dark;
    text-align: center;
    color: $text-color-light;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $rem-1; // separación entre items

    .boton {
      padding: 0.5rem;
      border-radius: 50px;
      background-color: $bg-color-accent;
      width: 40%;
      text-align: center;
      margin: 0 auto;
    }

    img {
      width: 100%; // tamaño de las imágenes
    }
  }
}

// Estilos de main tablet
@media screen and (min-width: 600px) {
  main {
    .div-generico {
      padding: 1.5rem;

      .boton {
        width: 25%;
      }
    }
  }
}

// Estilos de main desktop
@media screen and (min-width: 1024px) {
  main {
    padding: 2rem 6rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: $rem-1;

    .div-generico {
      gap: 2rem;
      padding: 2rem;

      .boton {
        width: 35%;
      }

      img {
        width: 80%;
      }

      h2 {
        font-size: 1.4rem;
      }
    }
  }
}

// Estilos de section
section {
  background-color: $bg-color-light;

  .banner {
    background-color: black;

    img {
      width: 100%;
    }
  }

  .noticia {
    background-color: $bg-color-accent;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: $rem-1;
  }

  div {
    padding: 5px;
    display: flex;
    justify-content: center;

    img {
      align-items: center;
      width: 50%;
    }
  }
}

// Estilos de footer
footer {
  background-color: $bg-color-dark;
  color: $text-color-light;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;

  .container {
    width: 100%;
  }

  .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
  }

  .footer-links {
    text-align: center;
    width: 25%;
    padding: 15px;

    h4 {
      font-size: 20px;
      color: $text-color-light;
      margin-bottom: 30px;
      border-bottom: 2px solid $bg-color-accent;
      padding-bottom: 15px;
    }

    ul {
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 10px;

        a {
          font-size: 18px;
          text-decoration: none;
          color: $text-color-light;
          display: block;
          margin-bottom: 15px;
        }
      }
    }
  }
}

// Estilos de main nosotros
main {
  .persona {
    display: flex;
    text-align: center;
    color: $text-color-light;
    padding: 0.5rem;
    flex-direction: column;
    align-items: center;
    gap: $rem-1;
    padding-top: 50px;
    padding-bottom: 50px;

    img {
      width: 100%;
    }
  }
}

// Estilos main tienda
.tienda {
  padding: 100px;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);

  .img {
    background-color: $bg-color-dark;
    text-align: center;
    color: $text-color-light;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $rem-1;

    img {
      width: 80%;
    }
  }
}

// Estilos de contacto
.contacto {
  display: flex;
  color: $text-color-light;
  padding-left: 10px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 150px;
}

// Estilos de servicio técnico
.servicio {
  padding: 200px;
  color: $text-color-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
